<%= form_with(model: @user, url: users_invitation_path(@user)) do |form| %>
  <div class="row">
    <%= form.label :name, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :name, value: @user.name, class: "form-control-plaintext", readonly: true %>
    </div>
  </div>

  <div class="row">
    <%= form.label :email, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :email, value: @user.email, class: "form-control-plaintext", readonly: true %>
    </div>
  </div>

  <div class="row">
    <%= form.label "Created At", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :invited_at, value: app_date(@user.created_at), class: "form-control-plaintext", readonly: true %>
    </div>
  </div>
<% end %>