<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="text-center mb-4">
        <img class="mb-4" src="https://via.placeholder.com/150" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Change your password</h1>
      </div>

      <div class="card bg-light mb-4">
        <div class="card-body pb-4">
          <%= render 'devise/shared/error_messages', resource: resource %>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.hidden_field :reset_password_token %>

            <div class="mb-3">
              <%= f.label :password, "New password", class: 'form-label' %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em><br />
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control' %>
            </div>

            <div class="mb-3">
              <%= f.label :password_confirmation, "Confirm new password", class: 'form-label' %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
            </div>

            <div class="d-grid gap-2">
              <%= f.submit "Change my password", class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
