<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="text-center mb-4">
        <img class="mb-4" src="https://via.placeholder.com/150" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Sign in to <%= Rails.configuration.application_name %></h1>
      </div>

      <!-- Step 4: Create a card with a grey background for the login form -->
      <!-- Add the following code to the new.html.erb file -->
      <div class="card bg-light mb-4">
        <div class="card-body pb-4">
          <!-- Step 5: Add the login form to the card -->
          <!-- Add the following code to the new.html.erb file -->
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="mb-3">
              <%= f.label :email, class: 'form-label' %>
              <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
            </div>

            <div class="mb-3">
              <%= f.label :password, class: 'form-label' %>
              <%= link_to 'Forgot your password?', new_password_path(resource_name), class: 'text-decoration-none fs-6 float-end' %>
              <%= f.password_field :password, class: 'form-control', autocomplete: "password" %>
            </div>

            <%= turbo_frame_tag 'recaptchas' do %>
              <%= recaptcha_v3(action: 'login') %>
            <% end %>

            <div class="d-grid gap-2">
              <%= f.submit "Sign In", class: 'btn btn-primary' %>
            </div>
          <% end %>

          <p class="text-divider text-muted mt-3">or</p>

          <% if AppConfig.magic_link_enable? %>
            <div class="d-grid gap-2">
              <%= link_to "Sign in with link", new_user_session_link_path, class: 'btn btn-outline-primary' %>
            </div>
          <% end %>

          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
              <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", 
                omniauth_authorize_path(resource_name, provider), 
                data: { turbo: false },
                form: {
                  class: 'd-grid mt-2'
                },
                class: 'btn btn-outline-primary' if AppConfig.send("login_with_#{provider}_enable") %>
            <% end %>
          <% end %>
        </div>
      </div>

      <% if AppConfig.register_enable? %>
        <div class="card">
          <div class="card-body text-center">
            Don't have an account? <%= link_to 'Create an account', new_registration_path(resource_name) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% render "devise/shared/links" %>
