<!DOCTYPE html>
<html>
  <head>
    <title>Saasplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="wrapper" class="d-flex">
      <!-- Sidebar-->
      <div id="sidebar-wrapper" class="d-flex align-items-end flex-column border-end bg-white">
        <div class="sidebar-heading border-bottom bg-light w-100">SAASPLATE</div>
        <div class="list-group list-group-flush border-bottom">
          <%= link_to "Home", root_path, class: 'list-group-item list-group-item-action list-group-item-light p-3' %>
          <%= link_to "Companies", companies_path, class: 'list-group-item list-group-item-action list-group-item-light p-3' %>
          <%= link_to "Users", users_path, class: 'list-group-item list-group-item-action list-group-item-light p-3' %>
        </div>

        <div class="list-group list-group-flush mt-auto">
          <% if current_user %>
            <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'list-group-item list-group-item-action list-group-item-light p-3' %>
          <% end %>
        </div>
      </div>
      <!-- Page content wrapper-->
      <div id="page-content-wrapper">
        <%= render 'layouts/partials/navbar' %>

        <!-- Page content-->
        <%= yield %>
        <!-- End of page content -->
      </div>
    </div>
  </body>
</html>
